/* Remoção das margens e padding da página */ 
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
/* Variáveis para padronização dos estilos */ 
:root {
	--azul-dnc: #0C70F2;
    --preto-dnc: #2D2D2D;   
	--font-dnc: 'Raleway';
    --font-color-white: #FFFFFF;
    --font-color-dark: #2D2D2D;
    --font-color-black: #000000;
}
    /* Para usar as variáveis use o modelo abaixo 
    #principal { background-color: var(--azul-dnc);} */ 


/* Página Carrinho */ 
main{
    display:flex;
    color: #2D2D2D;
    margin-top: 200px;
}
#esquerda{
    width: 50%;
    margin: 50px;
    padding: 0px;
}
#xbox{
    width: 380px;
    height: 300px;
}
#esquerda h5{
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0px 0px 0px;
    padding-left: 30px;
    
}
#esquerda h4{
    margin-top: 35px;
    font-weight: 600;
    font-size: 25px;
    padding-left: 30px;
}
#linhaEsquerda{
    width: 270px;
    height: 2px;
    padding-left: 30px;
}
#direita{
    width: 50%;
    margin: 50px;
    padding: 0px;
}
#linhaDireita{
    width: 425px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#direita h1{
    height: 20px;
    font-weight: 500;
    font-size: 30px;
}
#direita h3{
    font-weight: 800;
    font-size: 25px;
    width: 200px;
    height: 20px;
    margin-bottom: 15px;
}
#direita h6{
    margin: 10px 0px 10px 0px;
}
#preto{
    width: 20px;
    height: 20px;

}
#preto:hover{
    cursor: pointer;
    border: 2px solid #0C70F2;
    border-radius: 8px;
}
#direita button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 35px;
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 5px;
    border: solid 0px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    background-color: #0C70F2;
    position: absolute;
    
}
#carrinho{
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: 125px;
    margin-top:185px
    
    
}

/* Modal 1 - Meu Carrinho */ 




/* Modal 2 - Finalizar Compra */ 